#include <stdio.h>
#define tam 5

int i = 0;
int ini = 0;
int fim = 0;
int valor;
int fila[tam];

void enfileira() {
    if (fim == tam) {
        printf("Essa fila está cheia.\n");
    } else {
        printf("Informe um elemento: ");
        scanf("%d", &valor);
        fila[fim] = valor;
        fim++;
    }
}

void mostrar() {
    if (ini == fim) {
        printf("A fila está vazia.\n");
    } else {
        for (i = ini; i < fim; i++) {
            printf("%d ", fila[i]);
        }
        printf("\n");
    }
}

void remover(){
    if(ini==fim){
        printf("A fila está vazia.\n");
    }
    else{
        fila[ini]=0;
        ini++;
    }
}

int main() {
    int opc;

    do {
        printf("Opção: ");
        scanf("%d", &opc);

        switch (opc) {
            case 1:
                enfileira();
                break;

            case 2:
                mostrar();
                break;
                
            case 3:
                remover();
                break;

            default:
                printf("Inválido, tente de novo\n");
        }
    } while (opc != 0);

    return 0;
}
